@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient-bg {
      @apply bg-gradient-to-r from-[rgba(255,255,250,1)] via-[rgba(229,243,245,1)] to-[rgba(186,247,246,1)];
    }
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

:root {
  --color-text: #212121;
  --color-secondary: #19297C;
  --color-accent: #FFB88C;
}
